@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-registration {
  background-image: url('../public/Food-Bg.jpeg');
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}

.btn-shadow {
  box-shadow: 5px 4px 12px 1px lightgray !important;
}

.gradient-custom {
  /* fallback for old browsers */
  background: rgb(72,190,143, 1);

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgb(72,190,143, 1), 	rgb(95, 158, 160));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgb(72,190,143, 1), 	rgb(95, 158, 160));
}

.recipe-header {
  font-family: 'Cookie', cursive;
}

.recipe-times {
  border: black 1px solid;
  padding: 20px;
}

.recipe-desc {
  text-align: center;
}

h2 {
  font-family: 'Cookie', cursive;
}

h3 {
  font-family: 'Cookie', cursive;
}

h1 {
  font-family: 'Cookie', cursive;
}

.instructions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.meal-btn {
  border: 0px;
  border-radius: 5px;
  width: 300px;
  background-color: white;
}

.meal-btn:hover {
  border: 0px;
  border-radius: 5px;
  width: 300px;
  background-color: #eeeeee
}

.disabled {
  opacity: 25%;
}

.disabled:hover {
  opacity: 25%;
  cursor: default;
  background-color: white;
}

.profile-background {
  background-image: url('../public/ingredients.webp');
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}

.recipe-grid {
  padding-top: 2px;
  padding-bottom: 25px;
}

.container-dashboard {
  background-color: rgb(251,251,251);
  border-radius: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.tasty {
  background-color: rgb(251,251,251);
  max-width: 416px;
}

.dashboard-background {
  background-image: url('../public/dashboard.webp');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 10px;
}

.img-edit {
  margin-bottom: 10px;
  margin-left: 10px;
}

.featured-img {
  border: 2px solid rgb(186,118,72, 0.40);
  border-radius: 5px;
}

.featured-img > img {
  border-radius: 5px;
}

